
//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-animate/angular-animate.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-touch.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives/scatterPlotDirective.js')
script(type='text/javascript', src='/js/directives/sections.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/stats.js')
script(type='text/javascript', src='/js/services/spearman.js')
script(type='text/javascript', src='/js/services/teamStar.js')
script(type='text/javascript', src='/js/services/playerStar.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/controllers/chartCtrl.js')

//D3
script(type='text/javascript', src="dist/angularjs-nvd3-directives.js")
script(type='text/javascript', src='/lib/d3/d3.min.js')
script(type='text/javascript', src='/js/charts/reusable_scatter_plot.js')


// Angular Busy
script(src="/lib/angular-promise-tracker/promise-tracker.js")
script(src="/lib/angular-busy/dist/angular-busy.js")

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')	