<div class = " buttonContainer">
<button class = "blue3dButton" ng-click = "go('/')" ng-class = "{pressed:routes['/']}">Power Ranking</button>
<button class = "blue3dButton" ng-click = "go('/scatter')" ng-class = "{pressed:routes['/scatter']}">Scatter Plot</button>
<button class = "blue3dButton" ng-click = "go('/players')" ng-class = "{pressed:routes['/players']}">Top 25 Players</button>
<button class = "blue3dButton" ng-click = "go('/graph')" ng-class = "{pressed:routes['/players']}">Moving Averages</button>
<a class = "button-shell" ng-click = "sl.sliderToggle()">
  <button class = "blue3dButton" ng-class = "{'pressed': !sl.slidersCollapsed}" >Show Sliders</button></a>
</div>
</div>