<div data-ng-controller="chartCtrl" data-ng-init = "hideSliderButton = true; slidersCollapsed = false" >
  <div header></div>
  <div accuracy></div>
  <div class = "row">
    Players or Teams:
    <input type="text" ng-model="graphSelected" typeahead="(datum.name + datum.abbreviation) as (datum.name + datum.franchise) for datum in teamsAndPlayers | filter:$viewValue | limitTo:8" class="form-control"> {{graphSelected}}
    <div ng-if="graphSelected" ng-model="dt.startDate">
      <datepicker
        ng-required="true"
        max="dt.endDate">
     </datepicker>
   </div>
   <div ng-if="dt.startDate" ng-model="dt.endDate">
     <datepicker
     min="dt.startDate"
     ng-required="true">
   </datepicker>
     <button type="button" class="btn" ng-click="graphPlayer('Turnovers');"> Submit</button>
   </div>
   {{graphData}}
    <nvd3-line-chart
    height="550"
    width="550"
    data="graphData"
    showXAxis="true"
    showYAxis="true"
    xAxisTickFormat="xAxisTickFormatFunction()"
    yAxisTickFormat="yAxisTickFormatFunction()"
    hovered="hovered(args)"><nvd3-line-chart>
    </div>
    <div class = "span5">
    <div slider-block></div>
  </div>
</div>

<!-- ng-click="playerRequest(selected, dateRange); -->