<div data-ng-controller="mainController">
  <div header></div>
  <div class = "row">
   <div ng-class="sl.itemsClass">
      <div class="buttonContainer smaller">
       <a class = "button-shell"><button class="blue3dButton medium" ng-click="graphStat='Defense'; getGraphData(graphEntity, graphStat);">Defense</button></a>
       <a class = "button-shell"><button class="blue3dButton medium" ng-click="graphStat='Shooting'; getGraphData(graphEntity, graphStat);">Shooting</button> </a>
       <a class = "button-shell"><button class="blue3dButton medium" ng-click="graphStat='Rebounding'; getGraphData(graphEntity, graphStat)">Rebounding</button> </a>
       <a class = "button-shell"><button class="blue3dButton medium" ng-click="graphStat='Possession'; getGraphData(graphEntity, graphStat)">Possession</button> </a>
       <a class = "button-shell"><button ng-class="{blue3dButtonOpenSliders: !sl.slidersCollapsed}" class="blue3dButton medium" ng-click="graphStat='Miscellaneous'; getGraphData(graphEntity, graphStat)">Miscellaneous</button> </a>
       <a class = "button-shell"><button ng-class="{blue3dButtonOpenSliders: !sl.slidersCollapsed}" class="blue3dButton medium" ng-click="graphStat='baller'; getGraphData(graphEntity, graphStat);">Baller</button></a>
       <a class = "button-shell"><button ng-class="{blue3dButtonOpenSliders: !sl.slidersCollapsed}" class="blue3dButton medium" ng-click="getGraphData(graphEntity, graphStat);">Submit</button></a>
    </div>
    <div class="select playerBar">Players or Teams:
    <!-- <p class="input-group"> -->
      <input type="text" ng-model="graphEntity" typeahead="(datum.name + datum.abbreviation) as (datum.name + datum.franchise) for datum in teamsAndPlayers | filter:$viewValue | limitTo:8" class="form-control"> 
   <!--  </p> -->
    </div>
    <line-graph ng-if="drawChart" options="scatter.options" data="graphData"></line-graph>
  </div>
    <div class = "span5">
    <div slider-block ng-hide="sl.slidersCollapsed"></div>
  </div>
</div>

