<div style = "height:120px">
<div class = "navbar nav">
  <div class="navbar-inner">

      <ul class="nav">

          <li>
              <div accuracy class= "accuracy" ng-show = "!slidersCollapsed"></div>
              <div class = "presetName" ng-if = "weights.presetName">{{weights.presetName}}</div>
              <a class="brand" ng-click = "introToggle()">MoneyBaller</a>
              <a ng-click = "introToggle()">
                <button type="button" class="infoButton">{{introShow}}</button></a>
          </li>
          <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
              <a href="#!/{{item.link}}">{{item.title}}</a>
          </li>
      </ul>
      <ul class="nav pull-right" data-ng-hide="global.authenticated">
          <li><a href="/auth/facebook">Login With Facebook</a>
          </li>
      </ul>
      <ul class="nav pull-right" data-ng-show="global.authenticated">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  				{{global.user.name}} <b class="caret"></b>
  			</a>
              <ul class="dropdown-menu">
                  <li><a href="/signout">Signout</a>
                  </li>
              </ul>
          </li>
      </ul>

  <ul class="nav pull-left">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="presetMenu">Presets</span><b class="caret"></b>
    </a>
          <ul class="dropdown-menu">
              <li ng-repeat = "preset in presets">
                <a ng-click = "setWeights(preset)">{{preset.presetName}}</a>
              </li>
          </ul>
      </li>
      <li class="dropdown" data-ng-if="global.authenticated">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="presetMenu">My Custom Presets</span><b class="caret"></b>
    </a>
          <ul class="dropdown-menu">
              <li ng-repeat = "preset in userPresets">
                <a ng-click = "setWeights(preset)">{{preset.presetName}}</a>
              </li>
          </ul>
      </li>
  </ul>
  </div>
  <div class = "timeWindowContainer">
    <button class = "blue3dButton short" ng-class = "twButtonDepressed('lt')" ng-click = "lastTen()">Last 10</button>
    <button class = "blue3dButton short" ng-class = "twButtonDepressed('tt')" ng-click = "total()">Total</button>
  </div>
  <div buttons></div> 
</div>
</div>