<div class = " buttonContainer">
<button class = "blue3dButton" ng-click = "go('/')" ng-class = "{pressed:routes['/']}">Power Ranking</button>
<button class = "blue3dButton" ng-click = "go('/scatter')" ng-class = "{pressed:routes['/scatter']}">Scatter Plot</button>
<button class = "blue3dButton" ng-click = "go('/players')" ng-class = "{pressed:routes['/players']}">Top 25 Players</button>
<a class = "button-shell" ng-click = "sl.sliderToggle()">
  <button class = "blue3dButton" ng-class = "{'pressed': !sl.slidersCollapsed}" >Show Sliders</button></a>
</div>
<div collapse = "head.introCollapsed">
<div class = "headContainer introContainer" >
    <p>MoneyBaller combines classic NBA statistics with new player tracking data to allow users to create their own custom power rankings and MVP races.  By changing presets or moving sliders, users can watch their favorite teams and players rise and fall in real time.</p><p>The accuracy of the settings is calculated using linear regression against actual team win/loss records, and registered users can save their settings as new presets.
        <p>This is an open source project.  View and contribute on <a href="https://github.com/noahjcz/MoneyBaller">Github</a>.
</div>
</div>
