<div class = " buttonContainer">
<a href='/#!/'>
  <button class = "blue3dButton">Power Ranking</button></a>
<a href='/#!/scatter'>
  <button class = "blue3dButton">Scatter Plot</button></a>
<a href='/#!/players'>
  <button class = "blue3dButton">Top 25 Players</button></a>
<a class = "button-shell" ng-click = "sliderToggle()">
  <button class = "blue3dButton" >{{sliderShow}}</button></a>
</div>
<div class = "headContainer introContainer" ng-hide = "introCollapsed">
    <p> The MoneyBaller tool is an app that gives you the power to see what NBA stats matter most in determining team rankings.  By moving sliders, you can assign weights to a whole host of stats.  </p>
    <p>There are two ways to visualize:</p>
      <ul>
        <li> The power ranking view allows you to see team rankings dynamically reorder as you adjust the sliders</li>
        <li> The scatter plot view allows you to see how well your combination of stat weights can be used to predict team win percentage.  The <a href="http://en.wikipedia.org/wiki/Spearman's_rank_correlation_coefficient">Spearman's rho</a> metric is shown at the top as feedback.</li>
        <li> This is an open source project.  View and contribute on <a href="https://github.com/noahjcz/MoneyBaller">Github</a>.
      </ul>
</div>
