<div cg-busy="{tracker:'loadingTracker'}">
  <div class="playerHolder" ng-repeat="p in players.teamPlayers | orderBy: '-totalPlayerStar' | limitTo: 25 track by p.name" >
      <div class="player-headshot" ng-class="{tableSlidersCollapsed: sl.slidersCollapsed}"><img ng-src="{{makeHeadShotUrl(p.name, !global.currentTeam)}}" width = "130px" ></div>
      <div class="player-container" ng-class="{playerSlidersCollapsed: sl.slidersCollapsed}">
        <div class = "player-info" ng-class="{playerInfoSlidersCollapsed: sl.slidersCollapsed}">
          <div class = "player-name"> {{p.name}} </div>
          <div class='totalScore'> Score: 
            <span ng-bind="p.totalPlayerStar | number:1"></span>
          </div>
        </div>
        <div class="player-stats-container" ng-class="{tableSlidersCollapsed: sl.slidersCollapsed}">
          <div class = "player-stats" ng-repeat="(name, score) in p.scores track by name">
            <div class = "one-stat-head">{{name}}</div>
            <div class = "one-stat-stat">{{score | number:2}}</div>
          </div>
        </div>
      </div>
  </div>
</div>