<div data-ng-controller="chartCtrl" >
<div class="power-rank-container">
    <table class="table table-bordered">
      <tr>
        <th>Rank</th>
        <th colspan="2">Team</th>
      </tr>
      <tr ng-repeat-start="team in teams | orderBy: '-starVal'" ng-animate="{move: 'teams-move'}" ng-click="isCollapsed = !isCollapsed">
        <td class="team-rank"><span class="rank">{{$index + 1}}</span> <span class="star-val">(Star Value: {{team.starVal | number:3}})</span></td>
        <td class="team-badge"><img ng-src="img/nba_logos/{{team.logo_url}}"></td>
        <td class="team-details">{{team.franchise}}</td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="3" class="super-slim">
          <div class="team-details" collapse="isCollapsed">
            <table ng-repeat"player in players">
              <tr>
                <td class="player-head-shot"><img src="img/nba_logos/lebron_james.png"></td>
                <td>
                  <table class="table table-bordered">
                    <tr>
                      <th>STAT #1</th>
                      <th>STAT #2</th>
                      <th>STAT #3</th>
                      <th>STAT #4</th>
                      <th>STAT #5</th>
                    </tr>
                    <tr>
                      <td>0.777</td>
                      <td>0.333</td>
                      <td>0.222</td>
                      <td>0.999</td>
                      <td>0.111</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="slider-container">
    <div class="slider-shell" ng-repeat="(groupName, group) in nestedSliders">
      <div class="top-slider">
        <label><a ng-click="isCollapsed = !isCollapsed">{{groupName}}</a></label>
        <input type = "range" ng-change="changeSliders(nestedSliders,groupName);calculateAllTeamStarVals(teamStatsNorm,teams,stats);" min="0" max="5" step="0.5" ng-model="group.main"/>
        <span class="weight badge badge-info">{{group.main}}</span>
      </div>
      <div class="nested-sliders-shell" collapse="isCollapsed">
        <!-- <a ng-click = "group.show = !group.show">expand</a> -->
        <ul class="nested-sliders">
        <!-- <ul ng-show = "group.show"> -->
          <li ng-repeat="(statName, statNum) in group" ng-show = "statNum.weight > -1">
            <label>{{statName}}</label>
            <input ng-model="statNum.weight" type="range" min="0" max="5" step="0.5" ng-change="calculateAllTeamStarVals(teamStatsNorm,teams,stats)"/>
            <span class="weight badge badge-info">{{statNum.weight}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
