<div data-ng-controller="chartCtrl" >
<div class = "container">
  <div header></div>
  <div class = "row">
    <div ng-class="itemsClass">
      <table class="table table-bordered" cg-busy="{tracker:'loadingTracker'}">
        <tr class="teams-header">
          <th>Rank</th>
          <th>Baller W/L</th>
          <th>Actual W/L</th>
          <th colspan="2">Team</th>
        </tr>
        <tr class="team" ng-repeat-start="team in teams | orderBy: '-starVal' track by team.abbreviation">
          <td class="team-rank">
            <span class="rank">{{$index + 1}}</span>
            <p class="player-badge-shell">
              <a ng-click="calculatePlayerStarVals(team,true);">
               <span class="a_demo_two small">Players</span></a>
            </p>
          </td>
          <td class = "winLoss">
            <span class="star-val" ng-bind="team.starVal | number:3"></span>
          </td>
          <td class = "winLoss">
            <span class = "star-val">{{team.winPct}}</span>
          </td>
          <td class="team-badge"><img ng-src="img/nba_logos/{{team.logo_url}}"></td>
          <td  > <span class="team-details">{{team.franchise}}</span></td>
        </tr>
        <tr ng-repeat-end>
          <td colspan="5" class="super-slim">
            <div players ng-if="team === currentTeam">
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div slider-block class = "span5" ng-hide = "slidersCollapsed"></div>
  </div>
</div>

