<div class="slider-container scrolling">
  <div class = "button-container">
    <button class = "blue3dButton" ng-click = "sendScore(weights)">Save New Preset</button>
  </div>
  <div class="slider-shell" ng-repeat="(groupName, group) in nestedSliders">
    <div class="top-slider">
      <label class = "slider-text"><a ng-click="group.show = !group.show">{{groupName}}</a></label>
      <input type = "range" class = "rangeSlider" ng-change="recalculate(groupName)" min="0" max="10" step="0.5" ng-model="group.main"/>
      <span class="weight badge badge-success">{{group.main | number:1}}</span>
    </div>
    <div class="nested-sliders-shell" collapse="!group.show">
      <ul class="nested-sliders">
        <li class = "oneSlider" ng-repeat="(statName, statNum) in coupling.coupleStats(group)" ng-show = "statNum.weight > -1 || statNum.main > -1">
          <div ng-if = "statNum.weight > -1">
            <label class = "slider-text">{{statNum.coupledName || statName}}</label>
            <input ng-model="statNum.weight" class = "rangeSlider" type="range" min="0" max="10" step="0.5" ng-change="coupling.changeCoupled(statName,group);recalculate()"/>
            <span class="weight badge badge-info">{{statNum.weight | number:1}}</span>
          </div>
          <div ng-if = "statNum.main > -1 && global.currentTeam !== 'ALL'">
            <a ng-click = "subCollapsed = !subCollapsed"><label class = "slider-text">{{statNum.coupledName || statName}}</label></a>
            <input ng-model ="statNum.main" ng-change = "recalculate('Team Defense')"class = "rangeSlider" type="range" min="0" max="10" step="0.5" />
            <span class="weight badge badge-info">{{statNum.main | number:1}}</span>
            <div class = "nested-sliders-shell" collapse="!subCollapsed">
              <ul class = "nested-sliders">
                <li class = "oneSlider" ng-repeat = "(tmDefName,tmDefStat) in statNum" ng-show = "tmDefStat.weight > -1">
                  <label class = "slider-text">{{tmDefStat.coupledName || tmDefName}}</label>
                  <input ng-model="tmDefStat.weight" class = "rangeSlider" type="range" min="0" max="10" step="0.5" ng-change="recalculate()"/>
                  <span class="weight badge badge-info">{{tmDefStat.weight| number:1}}</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>