.svg-chart
  background-color white

.dot, .team-label
  font-size 11px

.chart-container 
  bottom  2px
  float  left
  background-color  #fff
  height  600px
  border  1px solid #ccc
  margin-bottom  20px


.axis path, .axis line 
  fill  none
  stroke  #ccc
  shape-rendering  crispEdges

.axis .label 
  font-weight  normal

.bar 
  fill  steelblue

.dot, .team-label 
  cursor  pointer

.dot hover 
  opacity  1

.team-label 
  pointer-events  none

.diagonal 
  fill  none
  stroke  #999
  stroke-width  3px
.playerBar
  padding-top: 15px
.form-control
  width: 100px
