.span7{width:540px}
[class*="span"]{float:left;min-height:1px;margin-left:20px}
.navbar .nav>li>a.brand{padding-left:20px;margin-left:0}
footer{position:fixed;left:0;bottom:0;height:30px;width:100%;background:#ddd;box-shadow:0 8px 6px 6px #000}
footer p{padding:5px 0 12px 10px}
li{line-height:20px}
.container{margin-right:auto;margin-left:auto}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:940px}
.container:before,.container:after{display:table;line-height:0;content:""}
.container:after{clear:both}
.container:before,.container:after{display:table;line-height:0;content:""}
.nav{list-style:none}
.navbar .nav > li > a{float:none;padding:10px 15px 10px;color:#777;text-decoration:none;text-shadow:0 1px 0 #fff}
.nav > li > a{display:block}
.navbar-inner{padding-right:0}
.navbar-inner{min-height:40px;padding-right:20px;padding-left:20px;background-color:#fafafa;background-image:linear-gradient(to bottom,#fff,#f2f2f2);background-repeat:repeat-x;border:1px solid #d4d4d4;border-radius:4px;box-shadow:0 1px 4px rgba(0,0,0,0.065)}
.navbar-inner:before,.navbar-inner:after{display:table;line-height:0;content:""}
.navbar-inner:after{clear:both}
.navbar-inner:before,.navbar-inner:after{display:table;line-height:0;content:""}
