.rhoRed 
  color  red
  font-weight  1000

.rhoGreen 
  color  green
  font-weight  1000


.contains
  padding  20px

.rightAligned 
  float  right

.logo
  margin-left  40px
  font-size  30px
  font-weight  900
  font-family helvetica

.accuracy
 position  absolute
 top 35px
 left 0px

.presetName
  position absolute
  top 35px
  left 200px
  width 200px

.infoButton
  position  absolute
  top 10px
  left -10px
  padding 0px
  font-size 20px
  border 0px
  border-radius 20px
  width 20px
  height 20px
  background-image  url('../img/basketball.png')
  background-size 20px 20px
  background-repeat no-repeat

.headContainer
background-color  #fafafa
background  linear-gradient(top, #ffffff, #f2f2f2)
border  1px solid #d4d4d4
border-radius  4px
box-shadow  0 1px 4px rgba(0, 0, 0, 0.065)

.introContainer
padding  20px
margin-top 23px

.navbar-inner
  padding-right 0px

.navbar
  position fixed
  margin-bottom 10px
  z-index 1
  width 940px
  margin-left auto
  margin-right auto


.presetsMenu
  font-size  24px
