.player-badge-shell 
  margin-top  10px
  margin-bottom  5px
  cursor  pointer

.player-details 
  font-size  50px
  border-bottom  1px solid #ccc

.player-info 
  display flex
  flex-flow row
  font-size  25px
  margin-top 8px
  padding 0px 0px 2px 20px

.playerInfoSlidersCollapsed 
  font-size  29px

.playerHolder
  display flex
  flex-flow row

.player-container
  width 80%
  
.totalScore 
  color  #777
  padding-left 30px

.player-stats-container 
  display flex
  flex-flow row
  font-size  10px
  padding  8px
  background-color  #fafafa

.tableSlidersCollapsed
  font-size 20px
  

.player-stats 
  width 100%
  border  1px solid #ccc
  table-layout fixed
  background-color  #fff
  padding 12px 0px 12px 0px
  text-align center

.player-stats-header
  border  1px solid #ccc
  background-color  #f3f3f3

.one-stat-stat
  font-size 27px