.teams 
  width  100%
  margin-bottom  0
  border-radius  2px

.teams-header 
   background-color  #eee

.rank 
  font-weight  900
  font-size  24px

.star-val 
  color  #777
  font-size 22px

.team 
  background-color  #fff

.table td.super-slim 
  padding  0

.button-shell
  cursor pointer

.player-badge-shell 
  margin-top  10px
  margin-bottom  5px
  cursor  pointer

.team-badge 
  width  50px

.team-badge img 
  width  50px

.player-details 
  font-size  50px
  border-bottom  1px solid #ccc

.table td .player-head-shot
  padding 0px
  vertical-align bottom


.player-head-shot 
  width  20%
  padding  0px

.headshotSlidersCollapsed 
  width  100%

.playerInfo 
  font-size  25px
  padding-bottom  2px

.playerInfoSlidersCollapsed 
  font-size  29px

.playerInfoSlidersOpen 
  font-size 25px

.player-stats-container 
  font-size  10px
  padding  8px
  background-color  #fafafa

.player-stats 
  width 100%
  border  1px solid #ccc
  table-layout fixed
  background-color  #fff


.player-stats-header
  border  1px solid #ccc
  background-color  #f3f3f3

.power-rank-container 
  font-family  'Duru Sans', sans-serif
  width 66%
  float  left
  background-color  #fff
  margin-bottom  20px

.team-details
  font-size 30px

.table td 
  vertical-align  middle

th 
  text-align  left

