.teams 
  width  100%
  margin-bottom  0
  border-radius  2px

.teams-header 
   background-color  #eee

.rank 
  font-weight  900
  font-size  24px

.star-val 
  color  #777

.team 
  background-color  #fff

.table td.super-slim 
  padding  0

.button-shell
  cursor pointer

.team-badge 
  width  50px

.team-badge img 
  width  50px
  
.power-rank-container 
  font-family  'Duru Sans', sans-serif
  width 66%
  float  left
  background-color  #fff
  margin-bottom  20px

.team-details
  font-size 30px

.table td 
  vertical-align  middle

th 
  text-align  left

.table-bordered tbody:first-child tr:first-child > th:last-child {
  border-top-right-radius: 4px;
}
.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered {
  border-collapse: separate;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
