.slider-container 
  height 78%
  overflow-y scroll
  position fixed
  width 380px
  box-shadow  0 1px 3px 0 rgba(0, 0, 0, 0.33)

.slider-text
  font-size 25px
  margin-bottom 10px

.slider-shell 
  width 100%

.oneSlider
  padding 10px

.top-slider 
  background-color  #fafafa
  padding  30px
  border-top  1px solid #ccc

.nested-sliders-shell 
  width  100%
  background-color  #fff

.nested-sliders 
  margin-left  10px
  padding  20px
  list-style none

.badge 
  border-radius  5px
  padding 5px 10px 5px 10px
  margin-left -5px

.weight 
  margin-left  5px

.rangeSlider
  padding-top 8px
  padding-bottom 8px
  width  100%
  
input[type="range"]
  background  linear-gradient(to bottom, #E9D1AE, #EB5909)
  width  75%
  height  2px
  -webkit-appearance  none
  border-radius  8px
  box-shadow  inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13)

input[type="range"]::-webkit-slider-thumb
  -webkit-appearance none !important  
  width 50px
  height 50px
  -webkit-appearance  none
  border-radius  60px
  border 1px solid black
  background-image  url('../img/basketball.png')

.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}
.badge-success {
  background-color: #468847;
}
.badge-info {
  background-color: #3a87ad;
}
