
body {
  font: sans-serif
  color: #ccc;
  background-color: #f3f3f3;
}
.content{
  display:flex;
  flex-direction: row;
  width: 100%;
}
.chart-container {
  bottom: 2px;
  float: left;
  background-color: #fff;
  height: 600px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.rangeSlider{
  width: 70%;
}
.power-rank-container {
  width:66%;
  float: left;
  background-color: #fff;
  margin-bottom: 20px;
}
.btn-container {
  margin: 10px 0;
}
.btn-container .chart-select {
  margin-left: 1vw;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.axis .label {
  font-weight: normal;
}
.bar {
  fill: steelblue;
}
.dot, .team-label {
  cursor: pointer;
}
.dot:hover {
  opacity: 1;
}
.team-label {
  pointer-events: none;
}
.diagonal {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}

/* Slider Styles
 * ==========================================================================*/
.slider-container {
  width:100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33)
}
.slider-block{
  width:33%;
}
.slider-shell {
  width:100%;
}
.top-slider {
  background-color: #fafafa;
  padding: 1vw;
  border-top: 1px solid #ccc;
}
.nested-sliders-shell {
  width: 100%;
  background-color: #fff;
}
.nested-sliders {
  margin-left: 2vw;
  padding: 1px;
  list-style:none;
}
.badge {
  border-radius: 5px;
}
.weight {
  margin-left: 2vw;
}

/* Power Rank Table Styles
 * ==========================================================================*/
.teams {
  width: 100%;
  margin-bottom: 0;
  border-radius: 2px;
}
.teams-header {
   background-color: #eee;
}
.rank {
  font-weight: 900;
}
.star-val {
  color: #777;
}
.team {
  background-color: #fff;
}

/* table row animation styles */
/* these are not workig */
.team.ng-enter,
.team.ng-move,
.team.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.team.ng-enter,
.team.ng-move,
.team.ng-leave.ng-leave-active {
  opacity:0;
}
.team.ng-leave,
.team.ng-move,
.team.ng-enter.ng-enter-active {
  opacity:1;
}

.table td.super-slim {
  padding: 0;
}
.player-badge-shell {
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.team-badge {
  width: 50px;
}
.team-badge img {
  width: 50px;
}
.player-details {
  border-bottom: 1px solid #ccc;
}
.player-head-shot {
  width: 30%;
}
.player-head-shot img {
  width: 7rem;
}
.player-stats-container {
  padding:.5rem;
  background-color: #fafafa;
}
.player-stats {
  width:100%;
  border: 1px solid #ccc;
  padding: .5rem;
  table-layout:fixed;
  background-color: #fff;
}
.player-stats-header {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

.rhoRed {
  color: red;
  font-weight: 1000;
}

.rhoGreen {
  color: green;
  font-weight: 1000;
}