.logo{
  margin-left: 40px;
  font-size: 30px;
  font-weight: 900;
  font-family:helvetica;
}
.presetsMenu{
  font-size: 24px;
}
body {
  font-size:22px;
  font: helvetica;
  background-color: #f3f3f3;
}
.svg-chart{
  background-color:white;
}
.content{
  display:flex;
  flex-direction: row;
  width: 100%;
}
.dot, .team-label{
  font-size:11px;
}
.chart-container {
  bottom: 2px;
  float: left;
  background-color: #fff;
  height: 600px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.rangeSlider{
  padding-top:15px;
  padding-bottom:15px;
  width: 100%;
}
.power-rank-container {
  width:66%;
  float: left;
  background-color: #fff;
  margin-bottom: 20px;
}
.btn-container {
  margin: 10px 0;
}
.btn-container .chart-select {
  margin-left: 1vw;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.axis .label {
  font-weight: normal;
}
.bar {
  fill: steelblue;
}
.dot, .team-label {
  cursor: pointer;
}
.dot:hover {
  opacity: 1;
}
.team-label {
  pointer-events: none;
}
.diagonal {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}

/* Slider Styles
 * ==========================================================================*/
.slider-container {
  width:100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33)
}
.slider-text{
  font-size:25px;
  margin-bottom:10px;
}
.slider-shell {
  width:100%;
}
.oneSlider{
  padding:20px;
}
.top-slider {
  background-color: #fafafa;
  padding: 30px;
  border-top: 1px solid #ccc;
}
.nested-sliders-shell {
  width: 100%;
  background-color: #fff;
}
.nested-sliders {
  margin-left: 10px;
  padding: 20px;
  list-style:none;
}
.badge {
  border-radius: 5px;
  padding:10px;
}
.weight {
  margin-left: 2vw;
}

/* Power Rank Table Styles
 * ==========================================================================*/
.teams {
  width: 100%;
  margin-bottom: 0;
  border-radius: 2px;
}
.teams-header {
   background-color: #eee;
}
.rank {
  font-weight: 900;
  font-size: 24px;
}
.star-val {
  color: #777;
  font-size:22px;
}
.team {
  background-color: #fff;
}

/* table row animation styles */
/* these are not workig */
.team.ng-enter,
.team.ng-move,
.team.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.team.ng-enter,
.team.ng-move,
.team.ng-leave.ng-leave-active {
  opacity:0;
}
.team.ng-leave,
.team.ng-move,
.team.ng-enter.ng-enter-active {
  opacity:1;
}
table .table .table-bordered{
  min-width: 900px;
}
.table td.super-slim {
  padding: 0;
}

.tableSlidersCollapsed {
  height: 150px;
  font-size: 20px;
}
.player-badge-shell {
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.team-badge {
  width: 50px;
}
.team-badge img {
  width: 50px;
}
.player-details {
  font-size: 50px;
  border-bottom: 1px solid #ccc;
}
.player-head-shot {
  vertical-align: middle;
  width: 20%;
  padding: 0px;
}
.headshotSlidersCollapsed {
  width: 100%;
}
.playerInfo {
  font-size: 20px;
  padding-bottom: 2px;
}
.playerInfoSlidersCollapsed {
  font-size: 1.5rem;
}
.player-stats-container {
  font-size: 10px;
  padding: 8px;
  background-color: #fafafa;
}
.player-stats {
  width:100%;
  border: 1px solid #ccc;
  table-layout:fixed;
  background-color: #fff;
}
.player-stats-header {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

.rhoRed {
  color: red;
  font-weight: 1000;
}

.rhoGreen {
  color: green;
  font-weight: 1000;
}

.contains{
  padding: 20px;
}
.scrolling {
  height: 1300px;
  overflow-y: scroll;
}
.rightAligned {
  float: right;
}
.table td {
  vertical-align: middle;
}
th {
  text-align: left;
}

.team-details{
  font-size:30px;
}
input[type="range"]{
    background: #B64100;
    width: 75%;
    height: 2px;
    -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

input[type="range"]:hover{
    background: #B64100;
    width: 75%;
    height: 2px;
    -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none !important;  
   width:50px;
   height:50px;
   -webkit-appearance: none;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -wekkit-border-radius: 60px;
    border:1px solid black;
    background-image: url('../img/basketball.png');

input[type="range"]::-webkit-slider-thumb:hover{
   -webkit-appearance:none !important;  
   width:50px;
   height:50px;
   -webkit-appearance: none;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -wekkit-border-radius: 60px;
    background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0.24, #FF4F4F),
  color-stop(1, #FFB133)
);
background-image: -o-linear-gradient(bottom, #FF4F4F 24%, #FFB133 100%);
background-image: -moz-linear-gradient(bottom, #FF4F4F 24%, #FFB133 100%);
background-image: -webkit-linear-gradient(bottom, #FF4F4F 24%, #FFB133 100%);
background-image: -ms-linear-gradient(bottom, #FF4F4F 24%, #FFB133 100%);
background-image: linear-gradient(to bottom, #FF4F4F 24%, #FFB133 100%);
    border:1px solid black;
 }
