
body {
  font: 14px sans-serif
  color: #ccc;
  background-color: #f3f3f3;
}
.container {
  /*width: 1170px;*/
}
.intro-container {
  /*width: 840px;*/
}
.chart-container {
  bottom: 2px;
  float: left;
  background-color: #fff;
  /*width: 840px;*/
  height: 600px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.rangeSlider{
  width: 70%;
}
.power-rank-container {
  width:60vw;
  float: left;
  background-color: #fff;
  margin-bottom: 20px;
}
.btn-container {
  margin: 10px 0;
}
.btn-container .chart-select {
  margin-left: 300px;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.tick {
  font-size: 13px;
}
.axis .label {
  font-weight: normal;
}
.bar {
  fill: steelblue;
}
.dot, .team-label {
  cursor: pointer;
}
.dot:hover {
  opacity: 1;
}
.team-label {
  font-size: 8px;
  pointer-events: none;
}
.diagonal {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}

/* Slider Styles
 * ==========================================================================*/
.slider-container {
  width:30vw;
  float: right;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33)
}
.slider-shell {
}
.top-slider {
  background-color: #fafafa;
  padding: 1vw;
  border-top: 1px solid #ccc;
}
.top-slider label {
  font-weight: bold;
}
.nested-sliders-shell {
  width: 100%;
  background-color: #fff;
}
.nested-sliders {
  margin: 0;
  padding: 1px;
  list-style:none;
}
.nested-sliders label {
  font-size: 12px;
}
.badge {
  border-radius: 6px;
}
.weight {
  margin-left: 5vw;
}

/* Power Rank Table Styles
 * ==========================================================================*/
.teams {
  width: 100%;
  margin-bottom: 0;
  border-radius: 2px;
}
.teams-header {
   background-color: #eee;
}
.rank {
  font-weight: bold;
  font-size: 18px;
}
.star-val {
  color: #777;
  margin-left: 30px;
}
.team {
  background-color: #fff;
}

/* table row animation styles */
/* these are not workig */
.team.ng-enter,
.team.ng-move,
.team.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.team.ng-enter,
.team.ng-move,
.team.ng-leave.ng-leave-active {
  opacity:0;
}
.team.ng-leave,
.team.ng-move,
.team.ng-enter.ng-enter-active {
  opacity:1;
}

.table td.super-slim {
  padding: 0;
}
.player-badge-shell {
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.team-badge {
  width: 50px;
  height: 50px;
}
.team-badge img {
  width: 50px;
}
.player-details {
  width: 66vw;
  border-bottom: 1px solid #ccc;
}
.player-head-shot {
  width: 30%;
}
.player-head-shot img {
  width: 7rem;
}
.player-stats-container {
  background-color: #fafafa;
}
.player-stats {
  width:100%;
  border: 1px solid #ccc;
  padding: 8px;
  table-layout:fixed;
  background-color: #fff;
}
.player-stats-header {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  font-size: 12px;
}

.contains{
  padding: 20px;
}
.powerRank, .playerRank{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  /*justify-content: space-around;*/
}
.teamsContainer {
  flex:4;
}
.playersContainer{
  flex:4;
}

.slidersContainer {
  flex:2;
}