@import 'nib'

body
  font-size 24px
  font-family 'Exo 2', sans-serif
  background-color #f3f3f3

@import 'graphStyle'
@import 'header'
@import 'sliders'
@import 'charts'
@import 'powerRank'
@import 'buttons'