body {
  font: 14px sans-serif
  color: #ccc;
  background-color: #f3f3f3;
}
.container {
  width: 1170px;
}
.intro-container {
  width: 840px;
}
.chart-container {
  float: left;
  background-color: #fff;
  width: 840px;
  height: 600px;
  border: 1px solid #ccc;
}
.power-rank-container {
  float: left;
  background-color: #fff;
  width: 840px;
  margin-bottom: 20px;
}
.btn-container {
  margin: 10px 0;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.tick {
  font-size: 12px;
}
.axis .label {
  font-weight: normal;
}
.bar {
  fill: steelblue;
}
.dot, .team-label {
  cursor: pointer;
}
.team-label {
  font-size: 8px;
}
.diagonal {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}

/* Slider Styles
 * ==========================================================================*/
.slider-container {
  float: left;
  margin-left: 14px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33)
}
.slider-shell {
  width: 300px;
}
.top-slider {
  background-color: #fafafa;
  padding: 8px;
  border-top: 1px solid #ccc;
}
.top-slider label {
  font-weight: bold;
}
.nested-sliders-shell {
  background-color: #fff;
}
.nested-sliders {
  margin: 0;
  padding: 8px 8px 8px 16px;
  list-style:none;
}
.badge {
  border-radius: 6px;
}
.weight {
  margin-left: 30px;
}

/* Power Rank Table Styles
 * ==========================================================================*/
.teams {
  margin-bottom: 0;
  border-radius: 2px;
}
.rank {
  font-weight: bold;
}
.star-val {
  color: #777;
}
.team {
  background-color: #fff;
}

/* table row animation styles */
.team.ng-enter,
.team.ng-move,
.team.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.team.ng-enter,
.team.ng-move,
.team.ng-leave.ng-leave-active {
  opacity:0;
}
.team.ng-leave,
.team.ng-move,
.team.ng-enter.ng-enter-active {
  opacity:1;
}

.table td.super-slim {
  padding: 0;
}
.player-badge-shell {
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.team-badge {
  width: 50px;
  height: 50px;
}
.player-details {
  width: 838px;
  border-bottom: 1px solid #ccc;
}
.player-head-shot {
  width: 128px;
}
.player-head-shot img {
  width: 128px;
  height: 103px;
}
.player-stats {
  border: 1px solid #ccc;
  padding: 8px;
  width: 674px;
  table-layout:fixed;
}
.player-stats-header {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  font-size: 12px;
}





