extends ../layouts/default

block content
  .row
    .offset1.span5
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
    .span6
      if message && message.length
        .fade.in.alert.alert-error
          button.close(type="button", data-dismiss="alert") &times;
          strong #{message}
      block auth
